.newTag {
    background-color: #ff444420;
    color: #ff4444;
    font-size: 12px;
    font-weight: 700;
    padding: $spacing-4 $spacing-8;
    border-radius: $radius-4;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}


