.container {
    width: min(100%, $max-width);

    display: flex;
    flex-direction: column;
    align-items: start;
    gap: $spacing-64;
}

.winners_list {
    width: 100%;
    display: flex;
    flex-direction: column;
}

@media (max-width: 768px) {
    .container {
        gap: $spacing-32;
    }
}