@use "./font.scss" as *;
@use  "./variables.scss" as *;

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css");


body, html {
    margin: 0;
    padding: 0;

    background-color: $surface-default;
}

* {
    box-sizing: border-box;
    font-family: $font-primary;
}

h1, h2, h3, h4, h5, h6, p, span {
    margin: 0;

    color: $text-default;

    &::selection {
        background-color: $surface-white;
        color: $text-black;
    }
}

// 스크롤바 숨기기
::-webkit-scrollbar {
    display: none;
}

* {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

a {
    text-decoration: none;
}