.container {
    width: min(100%, $max-width);

    display: flex;
    flex-direction: column;
    align-items: start;
    gap: $spacing-64;
}

.makers_list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: $spacing-64;
}

.year_section {
    display: flex;
    flex-direction: column;
    gap: $spacing-24;
}

.year_title {
    font-size: 32px;
    font-weight: 700;
    color: $text-default;
    margin: 0;
}

.cards_grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: $spacing-16;
    
    @media (max-width: 768px) {
        gap: $spacing-12;
    }
}

@media (max-width: 768px) {
    .container {
        gap: $spacing-32;
    }
    
    .makers_list {
        gap: $spacing-32;
    }
    
    .year_section {
        gap: $spacing-16;
    }
    
    .year_title {
        font-size: 24px;
    }
}